@charset "UTF-8";
@font-face {
  font-family: "proximanova_regular";
  src: url("fonts/proximanova_regular.ttf");
}
@font-face {
  font-family: "proximanova_bold";
  src: url("fonts/proximanova_bold.otf");
}
@font-face {
  font-family: "proximanova_extrabold";
  src: url("fonts/proximanova_extrabold.otf");
}
@font-face {
  font-family: "centurygothic";
  src: url("fonts/centurygothic.ttf");
}
@font-face {
  font-family: "centurygothic_bold";
  src: url("fonts/centurygothic_bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "proximanova_regular";
}

header {
  background: #FFFEFC;
  width: 100%;
  height: 759px;
  position: relative;
}
header .header-container {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
}
header .header-container .brand-container {
  width: 212px;
  height: 60px;
  margin-left: 3.7rem;
  padding-top: 9px;
  display: flex;
  cursor: pointer;
}
header .header-container .brand-container .logo {
  height: 46px;
}
header .header-container .brand-container .brand-head-block {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
header .header-container .brand-container .brand-head-block .brand-head {
  height: 43px;
  margin: 0 0 0 6px;
}
header .header-container .brand-container .brand-head-block::before {
  content: "розробка та підтримка сайтів";
  color: #333333;
  position: absolute;
  bottom: -6px;
  left: 5px;
  font-size: 10px;
  letter-spacing: -0.2px;
}
header .header-container .brand-container .brand-head-block::after {
  content: "TM";
  color: #333333;
  position: absolute;
  top: -8px;
  right: 3px;
  font-size: 8px;
  letter-spacing: -0.2px;
}
header .header-container .nav-menu {
  margin-left: 7.6rem;
  width: 43.7%;
}
header .header-container .nav-menu .menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "proximanova_bold";
}
header .header-container .nav-menu .menu a {
  color: #333333;
  letter-spacing: -0.4px;
}
header .header-container .social-contacts {
  margin-left: 5.7rem;
  padding-bottom: 3px;
  display: flex;
}
header .header-container .social-contacts .facebook {
  background-color: #3B5998;
}
header .header-container .social-contacts .instagram {
  background: linear-gradient(326.84deg, #E09B3D 6.32%, #C74C4D 32.21%, #C21975 58.1%, #7024C4 92.62%);
}
header .header-container .social-contacts .viber {
  background-color: #675DA9;
}
header .header-container .social-contacts .social-item {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
header .header-container .social-contacts .social-item img {
  height: 15px;
}
header .header-container .social-contacts .social-item:hover {
  transform: scale(1.2);
}
header .header-container .social-contacts .social-item:not(:last-child) {
  margin-right: 0.6rem;
}
header .header-container .phone-number-block {
  margin-left: 1.9rem;
  height: 42px;
  position: relative;
}
header .header-container .phone-number-block p {
  margin: 0;
  font-size: 13px;
  letter-spacing: -0.2px;
  line-height: 13px;
}
header .header-container .phone-number-block .phone-number {
  margin-top: 6px;
}
header .header-container .phone-number-block .phone-number a {
  color: #333333;
  letter-spacing: -0.4px;
  font-family: "proximanova_bold";
  font-size: 21px;
  letter-spacing: -0.2px;
  line-height: 21px;
  position: relative;
}
header .header-container .phone-number-block .phone-number a span {
  position: absolute;
  right: -23px;
  top: 5px;
}
header .header-container .phone-number-block .phone-number a:hover {
  text-decoration: none;
}
header .circle {
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  position: absolute;
  opacity: 0.15;
}
header .circle-1 {
  width: 341px;
  height: 345px;
  border-radius: 50%;
  left: -109px;
  top: 108px;
}
header .circle-2 {
  width: 172px;
  height: 172px;
  top: 424px;
  left: 473px;
  border-radius: 50%;
}
header .circle-3 {
  width: 73px;
  height: 73px;
  top: 109px;
  left: 941px;
  border-radius: 50%;
}
header .circle-4 {
  width: 25px;
  height: 25px;
  top: 488px;
  left: 865px;
  border-radius: 50%;
}
header .back-right-1 {
  position: absolute;
  width: 47.5%;
  top: 30px;
  right: 0;
}
header .back-right-2 {
  position: absolute;
  right: 61px;
  top: 186px;
  width: 34.6%;
}
header .title-info-container {
  position: absolute;
  width: 55%;
  margin: 163px 0 0 59px;
}
header .title-info-container .title-1 {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.1px;
}
header .title-info-container .title-2 {
  font-family: "proximanova_extrabold";
  font-size: 73px;
  letter-spacing: -0.27px;
  margin-top: 6px;
  line-height: 1.07;
}
header .title-info-container .title-3 {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.09px;
  width: 91%;
  margin-top: 14px;
  line-height: 1.5;
}
header .title-info-container button {
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  border: none;
  width: 246px;
  height: 50px;
  border-radius: 5px;
  margin-top: 34px;
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.09px;
  cursor: pointer;
  transition: 0.5s;
}
header .title-info-container button:hover {
  transform: scale(1.1);
}
header .title-info-container .slider-nav {
  margin: 167px 0 0;
  display: flex;
}
header .title-info-container .slider-nav .slider {
  width: 13px;
  height: 13px;
  border: 2px solid #333333;
  border-radius: 50%;
  opacity: 0.2;
  cursor: pointer;
}
header .title-info-container .slider-nav .slider:not(:last-child) {
  margin-right: 13px;
}
header .title-info-container .slider-nav .slider-3 {
  border: none;
  background-color: #FFD00E;
  opacity: 1;
}
header .scrool-down {
  position: absolute;
  bottom: 37px;
  margin: 0 46%;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #333333;
}
header .scrool-down p {
  font-family: "proximanova_bold";
  font-size: 11px;
}
header .scrool-down img {
  height: 23px;
  margin: 13px auto 0;
}
header .scrool-down:hover {
  text-decoration: none;
}

.block-1 {
  padding: 84px 60px 0;
}
.block-1 .block-1-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-1 .block-1-content {
  display: flex;
  margin-top: 43px;
}
.block-1 .block-1-content .img-content {
  width: 50.9%;
}
.block-1 .block-1-content .text-content {
  padding: 29px 16px 29px 31px;
  margin-right: -1px;
  display: flex;
  flex-direction: column;
  height: 333px;
  overflow-x: hidden;
}
.block-1 .block-1-content .text-content p {
  letter-spacing: -0.1px;
  line-height: 25px;
}
.block-1 .block-1-content .text-content h4 {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.09px;
  line-height: 24px;
  width: 86%;
  margin-top: 6px;
}
.block-1 .block-1-content .text-content p:nth-of-type(2), .block-1 .block-1-content .text-content p:nth-of-type(3) {
  margin-top: 6px;
}
.block-1 .block-1-content .text-content p:nth-of-type(2) b, .block-1 .block-1-content .text-content p:nth-of-type(3) b {
  letter-spacing: 0.1px;
}
.block-1 .block-1-content .text-content p:nth-of-type(3) {
  line-height: 23px;
  margin-bottom: 20px;
}
.block-1 .block-1-content .text-content::-webkit-scrollbar {
  width: 4px;
}
.block-1 .block-1-content .text-content::-webkit-scrollbar-track {
  background: #F9F9F9;
}
.block-1 .block-1-content .text-content::-webkit-scrollbar-thumb {
  background-color: #FFD00E;
}

.block-2 {
  width: 100%;
  height: 417px;
  margin-top: 80px;
  padding: 43px 60px;
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%), linear-gradient(0deg, #FFFEFC, #FFFEFC);
  display: flex;
}
.block-2 .text-content {
  width: 49%;
}
.block-2 .text-content .block-2-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-2 .text-content h4 {
  font-family: "proximanova_bold";
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin-top: 48px;
}
.block-2 .text-content p {
  letter-spacing: -0.1px;
  line-height: 25px;
}
.block-2 .text-content p:nth-of-type(1), .block-2 .text-content p:nth-of-type(2) {
  margin-top: 12px;
}
.block-2 .text-content p:nth-of-type(3) {
  line-height: 23px;
  margin-top: 10px;
}
.block-2 .text-content p:nth-of-type(3) b {
  letter-spacing: 0.1px;
}
.block-2 .text-content .some-logo {
  margin-top: 23px;
}
.block-2 .text-content .some-logo .logo-1 {
  width: 82px;
}
.block-2 .text-content .some-logo .logo-2 {
  width: 174px;
  margin-left: 35px;
}
.block-2 .text-content .some-logo .logo-3 {
  width: 163px;
  margin-left: 36px;
}
.block-2 .img-content {
  width: 36.5%;
  margin-left: 153px;
}

.block-3 {
  width: 100%;
  height: 987px;
  padding: 84px 60px 0;
}
.block-3 .block-3-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-3 .container-offer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 610px;
}
.block-3 .container-offer .container-center {
  width: 344px;
  height: 344px;
  margin-top: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-left: 3px solid #F5F5F5;
  border-right: 3px solid #F5F5F5;
  position: relative;
}
.block-3 .container-offer .container-center .circle {
  width: 292px;
  height: 292px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 52px solid #FFCD01;
}
.block-3 .container-offer .container-center .circle img {
  width: 105px;
}
.block-3 .container-offer .container-center .small-circle {
  background: linear-gradient(134.92deg, #FFDB65 14.54%, #FF8C33 90.15%), linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  border-radius: 50%;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(2) {
  left: 57px;
  top: 27px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(3) {
  left: 7px;
  top: 88px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(4) {
  left: -12px;
  top: 163px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(5) {
  left: 7px;
  bottom: 90px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(6) {
  left: 57px;
  bottom: 29px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(7) {
  right: 58px;
  top: 27px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(8) {
  right: 10px;
  top: 88px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(9) {
  right: -8px;
  top: 163px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(10) {
  right: 10px;
  bottom: 90px;
}
.block-3 .container-offer .container-center .small-circle:nth-of-type(11) {
  right: 59px;
  bottom: 29px;
}
.block-3 .container-offer .offer {
  position: absolute;
  display: flex;
}
.block-3 .container-offer .offer .img-content {
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.block-3 .container-offer .offer .img-content img {
  width: 30px;
}
.block-3 .container-offer .offer .text-content {
  width: 400px;
  margin-left: 16px;
}
.block-3 .container-offer .offer .text-content h4 {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 16px;
}
.block-3 .container-offer .offer .text-content p {
  letter-spacing: 0.34px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 8px;
}
.block-3 .container-offer .offer .text-content p b {
  letter-spacing: 0.5px;
}
.block-3 .container-offer .offer-1 .text-content, .block-3 .container-offer .offer-2 .text-content, .block-3 .container-offer .offer-3 .text-content, .block-3 .container-offer .offer-4 .text-content, .block-3 .container-offer .offer-5 .text-content {
  text-align: right;
  margin-right: 16px;
  margin-left: 0;
}
.block-3 .container-offer .offer-1 {
  left: 118px;
  top: 46px;
}
.block-3 .container-offer .offer-1 .img-content {
  margin-top: 9px;
}
.block-3 .container-offer .offer-2 {
  left: 14px;
  top: 170px;
}
.block-3 .container-offer .offer-3 {
  left: -8px;
  top: 286px;
}
.block-3 .container-offer .offer-3 .text-content {
  width: 395px;
}
.block-3 .container-offer .offer-4 {
  left: 15px;
  bottom: 124px;
}
.block-3 .container-offer .offer-4 .img-content {
  margin-top: 8px;
}
.block-3 .container-offer .offer-4 .text-content {
  width: 398px;
}
.block-3 .container-offer .offer-5 {
  left: 118px;
  bottom: 9px;
}
.block-3 .container-offer .offer-5 .img-content {
  margin-top: 10px;
}
.block-3 .container-offer .offer-6 {
  right: 119px;
  top: 53px;
}
.block-3 .container-offer .offer-7 {
  right: 14px;
  top: 169px;
}
.block-3 .container-offer .offer-8 {
  right: -13px;
  top: 286px;
}
.block-3 .container-offer .offer-9 {
  right: 13px;
  bottom: 124px;
}
.block-3 .container-offer .offer-9 .img-content {
  margin-top: 7px;
}
.block-3 .container-offer .offer-10 {
  right: 119px;
  bottom: 17px;
}
.block-3 .container-offer .img-right {
  position: absolute;
  right: -60px;
  bottom: -307px;
  width: 377px;
}
.block-3 .slider-img {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 30px;
}
.block-3 .slider-img .img-about-us {
  width: 341px;
  height: 228px;
}
.block-3 .slider-img .img-about-us:not(:last-child) {
  margin-right: 12px;
}
.block-3 .slider-img .nav {
  position: absolute;
  width: 44px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-3 .slider-img .nav .arrow {
  width: 23px;
}
.block-3 .slider-img .nav:hover {
  transform: scale(1.1);
}
.block-3 .slider-img .nav-left {
  background: #FFFFFF;
  top: 30px;
  left: -23px;
}
.block-3 .slider-img .nav-right {
  background: #FFE30B;
  top: 92px;
  right: -23px;
}
.block-3 .slider-img .nav-right .arrow {
  transform: rotate(180deg);
}

.block-4 {
  width: 100%;
  height: 387px;
  padding: 84px 60px 0;
}
.block-4 .block-4-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-4 .container-content {
  display: flex;
  margin-top: 44px;
}
.block-4 .container-content .content {
  padding: 16px 24px;
  width: 449px;
  height: 165px;
  position: relative;
}
.block-4 .container-content .content .title {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 16px;
  margin-top: 14px;
}
.block-4 .container-content .content .text {
  letter-spacing: 0.3px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 13px;
}
.block-4 .container-content .content .text b {
  letter-spacing: 0.5px;
}
.block-4 .container-content .content .background-right {
  width: 75px;
  position: absolute;
  right: 0;
  top: 0;
}
.block-4 .container-content .content-1 img {
  width: 178px;
}
.block-4 .container-content .content-2 {
  position: relative;
}
.block-4 .container-content .content-2 .background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 165px;
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  opacity: 0.1;
  border: 2px solid #FFB800;
}
.block-4 .container-content .content-2 img {
  width: 71px;
}
.block-4 .container-content .content-3 img {
  width: 118px;
}
.block-4 .container-content .content:not(:last-child) {
  margin-right: 26px;
}

.block-5 {
  width: 100%;
  height: 280px;
  padding: 26px 60px 0;
}
.block-5 .block-5-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-5 .container-logo {
  width: 100%;
  display: flex;
  margin-top: 44px;
  position: relative;
}
.block-5 .container-logo .block-logo {
  width: 213px;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1019607843);
}
.block-5 .container-logo .block-logo .logo-1 {
  width: 111px;
}
.block-5 .container-logo .block-logo .logo-2 {
  width: 182px;
}
.block-5 .container-logo .block-logo .logo-3 {
  width: 184px;
}
.block-5 .container-logo .block-logo .logo-4, .block-5 .container-logo .block-logo .logo-5 {
  width: 183px;
}
.block-5 .container-logo .block-logo .logo-6 {
  width: 180px;
}
.block-5 .container-logo .block-logo:not(:last-child) {
  margin-right: 26px;
}
.block-5 .container-logo .nav {
  position: absolute;
  width: 44px;
  height: 42px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-5 .container-logo .nav .arrow {
  width: 25px;
}
.block-5 .container-logo .nav:hover {
  transform: scale(1.1);
}
.block-5 .container-logo .nav-left {
  background: #F4F4F4;
  top: -26px;
  left: -23px;
}
.block-5 .container-logo .nav-right {
  background: #FFE30B;
  top: 37px;
  right: -23px;
}
.block-5 .container-logo .nav-right .arrow {
  transform: rotate(180deg);
}

.block-6 {
  width: 100%;
  height: 400px;
  padding: 24px 60px 0;
}
.block-6 .block-6-title {
  font-family: "proximanova_extrabold";
  font-size: 35px;
  letter-spacing: -0.09px;
  line-height: 35px;
}
.block-6 .container-content {
  display: flex;
  margin-top: 66px;
}
.block-6 .container-content .text-content {
  width: 42%;
  height: 165px;
  position: relative;
}
.block-6 .container-content .text-content .title {
  font-family: "proximanova_bold";
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 23px;
}
.block-6 .container-content .text-content .text {
  letter-spacing: -0.08px;
  line-height: 23px;
  font-size: 16px;
  margin-top: 9px;
}
.block-6 .container-content .img-content {
  width: 40%;
  position: relative;
}
.block-6 .container-content .img-content .img-galery {
  position: absolute;
}
.block-6 .container-content .img-content .img-galery:nth-of-type(1) {
  top: -107px;
  right: -252px;
  width: 409px;
  z-index: 2;
}
.block-6 .container-content .img-content .img-galery:nth-of-type(2) {
  top: -48px;
  right: 115px;
  width: 327px;
  z-index: 3;
}
.block-6 .container-content .img-content .img-galery:nth-of-type(3) {
  top: 41px;
  right: -170px;
  width: 296px;
  z-index: 4;
}
.block-6 .container-content .img-content .img-galery:nth-of-type(4) {
  top: -70px;
  right: -312px;
  width: 530px;
}

.block-7 {
  width: 100%;
  height: 483px;
  padding: 27px 60px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.block-7 .card {
  width: 450px;
  height: 204px;
  box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1019607843);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 24px;
  margin-bottom: 24px;
  background: #ffffff;
}
.block-7 .card .icon-1 {
  width: 32px;
  height: 53px;
  margin-top: 33px;
}
.block-7 .card .icon-2 {
  width: 62px;
  height: 62px;
  margin-top: 30px;
}
.block-7 .card .icon-3 {
  width: 65px;
  height: 61px;
  margin-top: 18px;
}
.block-7 .card .icon-4 {
  width: 61px;
  height: 55px;
  margin-top: 33px;
  margin-left: 5px;
}
.block-7 .card .icon-5 {
  width: 64px;
  height: 61px;
  margin-top: 22px;
}
.block-7 .card .icon-6 {
  width: 63px;
  height: 59px;
  margin-top: 18px;
}
.block-7 .card .card-title {
  font-family: "proximanova_extrabold";
  font-size: 20px;
  letter-spacing: -0.09px;
  line-height: 20px;
  margin-top: 23px;
}
.block-7 .card .card-title-2 {
  margin-top: 17px;
}
.block-7 .card .card-title-3 {
  margin-top: 18px;
}
.block-7 .card .card-title-4 {
  margin-top: 20px;
  margin-left: 5px;
  letter-spacing: 0.1px;
}
.block-7 .card .card-title-5 {
  letter-spacing: 0.1px;
  margin-top: 17px;
}
.block-7 .card .card-title-6 {
  letter-spacing: 0.1px;
  margin-top: 18px;
}
.block-7 .card .text {
  letter-spacing: -0.18px;
  line-height: 17px;
  font-size: 13px;
  margin-top: 14px;
  padding: 0px 18px;
  text-align: center;
}
.block-7 .card .text-3 {
  line-height: 19px;
  margin-top: 15px;
}
.block-7 .card .text-4 {
  margin-left: 5px;
}
.block-7 .card .text-6 {
  line-height: 20px;
}
.block-7 .card:hover {
  background: #FFD00E;
}
.block-7 .card-last {
  margin-right: 0;
}

.footer {
  width: 100%;
  height: 321px;
  margin-top: 54px;
  display: flex;
}
.footer .container-left {
  height: 321px;
  width: 27.3%;
  background-color: #FFD00E;
  padding: 31px 0 0 60px;
}
.footer .container-left .brand-container {
  width: 212px;
  height: 60px;
  padding-top: 9px;
  display: flex;
  cursor: pointer;
}
.footer .container-left .brand-container .logo {
  height: 46px;
}
.footer .container-left .brand-container .brand-head-block {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.footer .container-left .brand-container .brand-head-block .brand-head {
  height: 43px;
  margin: 0 0 0 6px;
}
.footer .container-left .brand-container .brand-head-block::before {
  content: "розробка та підтримка сайтів";
  color: #333333;
  position: absolute;
  bottom: -6px;
  left: 5px;
  font-size: 10px;
  letter-spacing: -0.2px;
}
.footer .container-left .brand-container .brand-head-block::after {
  content: "TM";
  color: #333333;
  position: absolute;
  top: -8px;
  right: 3px;
  font-size: 8px;
  letter-spacing: -0.2px;
}
.footer .container-left .text-1 {
  letter-spacing: -0.18px;
  line-height: 16px;
  font-size: 13px;
  margin-top: 21px;
  padding-right: 24px;
}
.footer .container-left .text-2 {
  letter-spacing: -0.08px;
  line-height: 16px;
  font-size: 13px;
  margin-top: 54px;
  padding-right: 24px;
}
.footer .container-right {
  width: 72.7%;
  background-image: url("../image/Rectangle 421.png");
  background-position: -416px;
  background-size: cover;
  padding: 1px 1px;
  padding: 42px 0 0 95px;
  display: flex;
}
.footer .container-right .footer-content-1 {
  width: 210px;
  height: 160px;
}
.footer .container-right .footer-content-1 .title {
  font-family: "proximanova_bold";
  font-size: 19px;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 29px;
}
.footer .container-right .footer-content-1 .tel {
  font-family: "centurygothic";
  font-size: 19px;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 20px;
  position: relative;
}
.footer .container-right .footer-content-1 .tel b {
  letter-spacing: -0.2px;
  font-family: "centurygothic_bold";
}
.footer .container-right .footer-content-1 .tel:hover {
  text-decoration: none;
}
.footer .container-right .footer-content-1 .container-tel::after {
  content: "доб. 103";
  font-size: 17px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  font-family: "proximanova_regular";
  position: absolute;
  top: 0;
  right: 0;
}
.footer .container-right .footer-content-1 .email {
  font-family: "proximanova_regular";
  font-size: 19px;
  letter-spacing: 0;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 18px;
}
.footer .container-right .footer-content-1 .email b {
  letter-spacing: -0.5px;
  font-family: "centurygothic_bold";
}
.footer .container-right .footer-content-1 .cocial-networks {
  margin-top: 13px;
}
.footer .container-right .footer-content-1 .cocial-networks img:nth-of-type(1) {
  width: 11px;
}
.footer .container-right .footer-content-1 .cocial-networks img:nth-of-type(2) {
  width: 17px;
}
.footer .container-right .footer-content-1 .cocial-networks img:nth-of-type(3) {
  width: 22px;
}
.footer .container-right .footer-content-1 .cocial-networks img:nth-of-type(4) {
  width: 18px;
}
.footer .container-right .footer-content-1 .cocial-networks img:not(last-child) {
  margin-right: 32px;
}
.footer .container-right .footer-content-1 .cocial-networks img {
  cursor: pointer;
  transition: 0.5s;
}
.footer .container-right .footer-content-1 .cocial-networks img:hover {
  transform: scale(1.3);
}
.footer .container-right .footer-content-2 {
  width: 233px;
  height: 160px;
  margin-left: 109px;
}
.footer .container-right .footer-content-2 .title {
  font-family: "proximanova_bold";
  font-size: 19px;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 27px;
}
.footer .container-right .footer-content-2 .address {
  font-family: "proximanova_regular";
  font-size: 19px;
  letter-spacing: 0;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 18px;
}
.footer .container-right .footer-content-2 .address b {
  letter-spacing: 0.1px;
  font-family: "proximanova_bold";
  line-height: 24px;
}
.footer .container-right .footer-content-2 .block-gps {
  display: flex;
  margin-top: 20px;
}
.footer .container-right .footer-content-2 .block-gps .gps {
  font-size: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.footer .container-right .footer-content-2 .block-gps .gps-2 {
  text-decoration: underline;
}
.footer .container-right .footer-content-3 {
  width: 275px;
  height: 160px;
  margin-left: 109px;
}
.footer .container-right .footer-content-3 .title {
  font-family: "proximanova_bold";
  font-size: 19px;
  letter-spacing: 0.1px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.footer .container-right .footer-content-3 .img-logo {
  display: flex;
  flex-wrap: wrap;
}
.footer .container-right .footer-content-3 .img-logo img {
  cursor: pointer;
}
.footer .container-right .footer-content-3 .img-logo img:nth-of-type(1) {
  height: 49px;
}
.footer .container-right .footer-content-3 .img-logo img:nth-of-type(2) {
  height: 48px;
  margin-left: 30px;
}
.footer .container-right .footer-content-3 .img-logo img:nth-of-type(3) {
  height: 27px;
  margin-top: 16px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */